    html {
        margin: 0px;
    }
    
    body {
        margin: 0px;
    }
    
    .headstyle {
        margin: auto;
    }
    
    .allbody {
        margin: 0 20px;
    }
    
    .pagenav {
        background-color: #333;
        height: 8vh;
        padding: 0 20px;
    }
    
    .navleft {
        color: #b0b0b0;
        float: left;
        border-right: 1px solid #b0b0b0;
        margin: 1rem 0;
        padding: 0 5px;
        font-size: 12px;
    }
    
    .navright {
        color: #b0b0b0;
        float: right;
        margin: 1rem 0;
        padding: 0 5px;
        font-size: 12px;
    }
    
    .navline {
        color: #b0b0b0;
        margin: 0.8rem 0;
        float: right;
    }
    
    .pagehead {
        width: 100%;
        height: 15vh;
        padding: 10px
    }
    
    #headimg {
        width: 55px;
        height: 55px;
        background-color: #ff6700;
        float: left;
        margin-left: 10px;
    }
    
    input {
        border: 1px solid rgb(103, 136, 125, .6);
        height: 50px;
        margin: 0px;
        float: right;
    }
    
    .inputsearch {
        width: 200px;
    }
    
    .inputbutton {
        width: 50px;
    }
    
    .heada {
        color: black;
    }
    
    .headul {
        margin-left: 20%;
        margin-right: 0;
        display: inline;
    }
    
    .headli {
        display: inline;
        font-size: 14px;
        margin: 10px;
    }
    
    .pagebody {
        height: 80vh;
    }
    
    .pageside {
        background-color: rgba(105, 101, 101);
        width: 25%;
        height: 80vh;
        float: left;
    }
    
    .pagehome {
        height: 80vh;
    }
    
    .pagehome img {
        width: 75%;
        height: 100%;
        float: left
    }
    
    .pagefour {
        background-color: rgb(103, 136, 125);
        height: 50vh;
        padding: 0 0 0 25px;
        display: block;
    }
    
    .fourclass {
        width: 20%;
        height: 70%;
        background-color: rgba(105, 101, 101);
        float: left;
        margin: 25px;
    }
    
    .fourclassa {
        display: block;
        width: 33.33333%;
        height: 40%;
        text-align: center;
        float: left;
        color: white
    }
    
    .fourclassimg {
        width: 100%;
        height: 100%;
    }
    
    .fourimg {
        width: 100%;
        height: 60%;
        margin-top: 25px;
        padding: 5px 20px;
    }
    
    .clear {
        clear: both;
    }
    
    .flash {
        width: 100%;
        background-color: aqua;
    }
    
    .flashdivbig {}
    
    .flashdiv {
        position: relative;
        left: 15px;
        top: 0;
        width: 17%;
        height: 80%;
        background-color: beige;
        /* float: left; */
        margin: 15px;
    }
    
    .redmi {
        background-color: red;
        width: 100%;
        height: 20vh;
    }
    
    .photo {
        background-color: rgb(13, 197, 84);
        widows: 100%;
        height: 120vh;
    }
    
    .photodiv1 {
        width: 17%;
        height: 85%;
        background-color: beige;
        float: left;
        margin: 15px;
    }
    
    .photodiv2 {
        height: 50px;
    }
    
    .photodiv {
        width: 17%;
        height: 40%;
        background-color: beige;
        float: left;
        margin: 15px;
    }
    
    ul {
        padding: 0px;
    }
    
    li {
        list-style-type: none;
        color: white;
        width: 100%;
        height: 8%;
        line-height: 48px;
        font-size: 20px;
    }
    
    .lia {
        margin-left: 40px;
        color: white;
    }
    
    .lia a:link {
        text-decoration: none;
        color: white;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:active {
        text-decoration: none;
    }
    
    .glyphicon {
        margin: 10px 20px;
        float: right;
    }
    
    li:hover {
        background-color: #ff6700;
    }